
.page {
    min-height: 80vh;
    margin: 2rem auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.titre-historique {
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Style de la table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #001f3f;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}


/* Style des boutons ou autres liens */
button, a {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
}



/* Réaction au survol des tableaux */
th, td {
    transition: background-color 0.3s ease;
}